.main {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-padding-dt;
  @media only screen and (max-width: $bp-large) {
    padding: 0 $container-padding-m;
  }
}

.u-margin-sm {
  margin-bottom: 3rem;
}

.u-margin-md {
  margin-bottom: 6rem;
}

.u-center-align {
  text-align: center;
}

.header {
  background-color: $color-white;
  position: fixed;
  z-index: 100;
  width: 100%;

  &__box {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero {
  font-size: 2rem;
  background-color: $color-grey-light-2;
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 3rem;
  align-items: center;
  padding-left: calc((100vw - #{$container-width}) / 2);
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }

  &__text-box {
    display: grid;
    grid-row-gap: 3.5rem;
    padding: 24rem $container-padding-dt 16rem;
    @media only screen and (max-width: $bp-small) {
      justify-items: center;
      text-align: center;
      width: 70%;
      margin: 0 auto 8rem;
      padding: 16rem $container-padding-m 8rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
      padding: 0 $container-padding-m;
    }
  }

  &__img-box {
    background-image: url(../images/bg-intro-desktop.svg);
    @media only screen and (max-width: $bp-small) {
      background-image: url(../images/bg-intro-mobile.svg);
      grid-row: 1/2;
      background-position: 130% 70%;
      background-size: 100%;
      margin-bottom: -10%;
    }
    background-size: 150rem;
    background-position: 10%, 45%;
    background-repeat: no-repeat;
    align-self: stretch;
  }

  &__img {
    display: block;
    transform: translate(16rem, -4rem);
    position: absolute;
    @media only screen and (max-width: $bp-small) {
      width: 90%;
      margin: auto;
      text-align: center;
      transform: translate(0, -15%);
      position: relative;
    }
  }
}

.features {
  padding: 12rem 0;
  background-color: $color-grey-light-1;
  @media only screen and (max-width: $bp-smallest) {
    text-align: center;
  }

  &__why {
    margin-bottom: 8rem;
    padding: 1.5rem;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: 1fr;
    }
  }
}

.articles {
  padding: 12rem 0;
  background-color: $color-grey-light-2;
  font-size: 1.4rem;

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5rem;
    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(2, 1fr);
      gap: 8rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: 1fr;
    }
  }
}

.footer {
  background-color: $color-primary;
  font-size: 1.4rem;
  padding: 4rem 0;
  &__box {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    column-gap: 14rem;
    @media only screen and (max-width: $bp-medium) {
      row-gap: 2rem;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(3, min-content);
      justify-content: space-between;
      column-gap: 0;
    }
    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
    }
  }
}
